:root {
  --gap: 15px;

  --text-color: #444444;
  --text-font-size: 16px;

  --disabled-color: #cccccc;
  --disabled-contrast: #eeeeee;

  --primary-ransition: all linear 100ms;
  --baseline-header-height: 83px;
}

@import './../node_modules/modern-normalize/modern-normalize.css';